<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mapper.another.AnotherDataBaseMapper">
	<resultMap id="memberMap" type="Member_dto">
        <result property="mem_name" column="name"/>
        <result property="mem_id" column="id"/>
        <result property="mem_age" column="age"/>   
    </resultMap>
	
    <select id="a_allmember" resultType="Member_dto" resultMap="memberMap">
        SELECT name,id,age FROM member
    </select>
</mapper>